@import url('https://fonts.googleapis.com/css?family=Philosopher&amp;subset=cyrillic" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	margin: 0 auto;
}

.hero {
	height: 670px;
	background: url(../img/Screen_1_BG_Bread_Image.jpg) no-repeat center top / cover;
}

.logo {
	display: flex;
}
.logo-1 {
	
	color: #ffffff;
	font-family: "Kaushan Script"; 
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.9px;
	margin: 0 auto;
}
.menu {
	padding-right: 290px;
	
}

.menu li{
	display: inline-block;

}
.menu li a {

	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.45px;
	text-decoration:none;
	margin-left: 30px;


}
.menu>li>a:before{
	content: "";
	width: 48px;
	height: 48px;
	border: 2px solid red;
}
.menu li+li+li a:hover { 

	border-bottom: 2px solid white;
	padding-bottom: 5px;
}
.menu li+li+li+li a:hover {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

.new-produc {
	height: 103px;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
	margin-top: 106px;
}
.p-1 {
	font-size: 48px;
	letter-spacing: 1.2px;
}
.p-2 {	
	letter-spacing: 1px;
}

.gave {
	height: 52px;
	color: #ffffff;
	font-family: Nunito;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	margin-top: 48px;
}
.p-4 {
	letter-spacing: 0.45px;

}
.menu1 {
	padding-bottom: 80px;
}
.menu1 li {
	display: inline-block;
	border: 2px solid white;
}
.menu1 li a {
	color: white;
	text-decoration:none;
	width: 90px;
	height: 13px;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.35px;
	padding: 9px 37px 9px 37px;

}
.menu1 li:hover {
	background: white;
}
.menu1 li a:hover {
	color: black;
}
.bot {
	text-align: center;
	padding-top: 120px;
}

.bot1 {
	width: 20px;
	height: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	display: inline-flex;
	transform: rotate(45deg);
}
div.bot1 a {
	padding: 10px;
} 


.two {
	height: 650px;
	background: url(../img/two2.jpg) no-repeat center top / cover;
}
.bread {
	color: #0f1417;
	font-family: Nunito;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.8px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 36px;
}
.p-5 {
	color: #0f1417;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.35px;
	text-align: center;
}
.line {
	width: 120px;
	height: 9px;
	display: inline-block;
	
}
.picture1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	margin-top: 20px;
}
.two-1 {
	
	height: 300px;

}
.picture2-2 {
	height: 292px;
	width: 755px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	position: relative;

}


.note1 {
	position: absolute;
	left: -105px;
	top: 32px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note2 {
	position: absolute;
	left: -135px;
	top: 89px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note3 {
	position: absolute;
	left: -111px;
	top: 164px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note4 {
	position: absolute;
	left: -112px;
	top: 219px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note5 {
	position: absolute;
	right: -162px;
	top: 14px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note6 {
	position: absolute;
	right: -192px;
	top: 80px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note7 {
	position: absolute;
	right: -170px;
	top: 135px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note8 {
	position: absolute;
	right: -151px;
	top: 196px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

.note1:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}

.note2:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note3:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note4:before {	
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note5:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note6:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note7:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note8:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/Forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note1:after {
	content: "";
	width: 25px;
	height: 47px;
	position: absolute;
	left: 150px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(43deg);
}
.note2:after {
	content: "";
	width: 22px;
	height: 30px;
	position: absolute;
	left: 132px;
	top: 7px;
	border-top: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(58deg);
}
.note3:after {
	content: "";
	width: 20px;
	height: 15px;
	position: absolute;
	left: 114px;
	top: -7px;
	border-bottom: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(-70deg);
}
.note4:after {
	content: "";
	width: 19px;
	height: 20px;
	position: absolute;
	left: 112px;
	top: -13px;
	border-bottom: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(-66deg);
}
.note5:after {
	content: "";
	width: 20px;
	height: 40px;
	position: absolute;
	right: 163px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(-45deg);
}
.note6:after {
	content: "";
	width: 25px;
	height: 30px;
	position: absolute;
	right: 151px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(-55deg);
}
.note7:after {
	content: "";
	width: 23px;
	height: 15px;
	position: absolute;
	right: 118px;
	top: -8px;
	border-bottom: 1px solid #0f1417a3;
	border-left: 2px solid #0f1417a3;
	transform: skew(75deg);
}
.note8:after {
	content: "";
	width: 25px;
	height: 39px;
	position: absolute;
	right: 99px;
	top: -33px;
	border-bottom: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(50deg);
}

.bot-2 {
	text-align: center;
	margin-top: 50px;
}

.bot21 {
	width: 20px;
	height: 20px;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	display: inline-block;
	transform: rotate(45deg);
}
div.bot21 a {
	padding: 10px;
}

.three {
	height: 677px;
	background: transparent;
}
.whole {
	color: #0f1417;
	font-family: Nunito;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.8px;
	text-align: center;
	margin-top: 62px;
}
.scrollmenu {
	width: 832px;
	height: 321px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 41px;
}
h2 {
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.35px;
	text-align: center;
}
h3 {
	font-family: Nunito;
	font-size: 10px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.25px;
	text-align: center;
	margin-top: 10px;
}
h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.4px;
	text-align: center;
	margin-top: 10px;
}
.scrollmenu1 {
	width: 20px;
	height: 20px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
	transform: rotate(-226deg);
	margin-bottom: 90px;
}
.scrollmenu2 {
	width: 160px;
	height: 272px;
	box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
	background-color: #ffffff;
	display: inline-block;
	margin-left: 20px;
}
.scrollmenu3 {
	width: 160px;
	height: 272px;
	box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
	background-color: #ffffff;
	display: inline-block;
	margin-left: 30px;
	margin-right: 15px;
}
.scrollmenu4 {
	width: 160px;
	height: 272px;
	box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
	background-color: #ffffff;
	display: inline-block;
	margin-right: 30px;
	margin-left: 15px;
}
.scrollmenu5 {
	width: 160px;
	height: 272px;
	box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
	background-color: #ffffff;
	display: inline-block;
	margin-right: 20px;
}
.scrollmenu6 {
	width: 20px;
	height: 20px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: inline-block;
	transform: rotate(-45deg);
	margin-bottom: 90px;

}
div.scrollmenu img {
	margin: 19px 25px 19px 25px;
	
}

.p-6 {
	
	color: #170e0e;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.35px;
	text-align: center;
}
.menu2 {
	width: 100%;
	text-align: center;
	display: inline-block;
	margin-top: 40px;
}
.menu2 li {
	display: inline-block;
	border: 2px solid black;
}
.menu2 li a {
	color: black;
	text-decoration:none;
	width: 90px;
	height: 13px;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.35px;
	padding: 9px 37px 9px 37px;

}
.menu2 li:hover {
	background: black;
}
.menu2 li a:hover {
	color: white;
}


.buttom {
	content: "";
	position: relative;
}

.wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin-top: 15px;
}

input {
	display: none;
}

label {
	cursor: pointer;
	margin: 3px 0px;
}

label:before {
	content: '';
	display: inline-block;
	height: 10px;
	width: 10px;
	background: black;
	border-radius: 50%;
	z-index: 2;
	transition: box-shadow .4s ease,
	background .3s ease;
}

input:checked + label:before {
	box-shadow: inset 0px 0px 0 2px black;
	background: #fff;
}
.four {
	height: 527px;
	background: url(../img/sloi_7.png) no-repeat center top / cover;

}
.whole1 {
	color: white;
	font-family: Nunito;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.8px;
	text-align: center;
	padding-top: 61px;
}
.p-7 {
	color: #ffffff;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.35px;
	text-align: center;

}
.picture2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	margin-top: 36px;
	margin-bottom: 50px;
}
.names {
	width: 730px;
	margin: 0 auto;
}
.float1 {
	float: left;
	margin-top: 6px;
	margin-right: 30px;
}
.float2 {
	float: left;
	margin-right: 33px;
}
.float3 {
	float: left;
	margin-top: 8px;
	margin-right: 31px;
}
.float4 {
	float: left;
}
.float5 {
	margin-right: 30px;
	float: left;
}
.float6 {
	float: left;
	margin-right: 33px;
	margin-top: 17px;
}
.float7 {
	float: left;
	margin-right: 31px;
	margin-top: 17px;
}
.float8 {
	float: left;
	margin-top: 17px;
}
.float9 {
	float: left;
}
.clearfix:after {
	content:"";
	float: none;
	clear: both;
	display: block;
}

.five {
	height: 474px;
}

.names1 {
	width: 1200px;
	margin: 0 auto;
	padding-top: 50px;
}
.names1-1 {
	width: 150px;
	height: 250px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
}
div.names1-1 img {
	margin-left: 48px;
	width: 61px;
	height: 61px;
	
}
.p-8 {
	color: #0b0806;
	font-family: Nunito;
	font-size: 16px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.4px;
	text-align: center;
}
.p-9 {
	color: #0b0806;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.35px;
	text-align: center;
}