@import url('https://fonts.googleapis.com/css?family=Philosopher&amp;subset=cyrillic" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
	box-sizing: border-box;
}
/*.wrapper {
	margin: 0 auto;
	width: 1110px;
	height: auto;
}

.one {
	
	background: url(../img/screen_1_BG_Bread_Image_small.jpg) no-repeat center top / cover;
	position: relative;
}
.one:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
}
.one-one {
	position: relative;
	z-index: 2;
	max-width: 1110px;
	margin: 0 auto;
}

.logo {
	justify-content: space-between;
	padding-top: 65px;

}
.logo-1 {
	color: #ffffff;
	font-family: "Kaushan Script"; 
	font-size: 36px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.9px;	
	float: left;
}
.logo ul {
	float: right;
}

.logo li{
	float: left;
}

.logo li a {
	color: white;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.45px;
	text-decoration:none;
	margin-left: 30px;
}
.logo>li>a:before{
	content: "";
	width: 48px;
	height: 48px;
	border: 2px solid red;
}
.logo li+li+li a:hover { 

	border-bottom: 2px solid white;
	padding-bottom: 5px;
}
.logo li+li+li+li a:hover {
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

.new-produc {
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 60px;
	text-align: center;
	padding: 106px 0 0 0;
}
div.new-produc h1 {
	font-size: 48px;
	letter-spacing: 1.2px;
	padding-top: 10px;
}

div.new-produc p {	
	letter-spacing: 1px;
}

.gave {
	color: #ffffff;
	font-family: Nunito;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	padding-top: 47px;
}
.p-4 {
	letter-spacing: 0.45px;

}
.menu1 {
	text-align: center;
	margin-top: 40px;
}
.menu1 li {
	display: inline-block;
	border: 2px solid white;
	margin: 0px 15px;
}
.menu1 li a {
	color: white;
	text-decoration:none;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.35px;
	padding: 9px 37px 9px 37px;

}
.menu1 li:hover {
	background: white;
}
.menu1 li a:hover {
	color: black;
}
.bot {
	text-align: center;
	padding: 70px 0 35px 0;
}

div.bot a {
	padding: 10px;
	width: 20px;
	height: 20px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	display: inline-block;
	transform: rotate(45deg);
} 
.two {
	/*height: 650px;*/
	/*background: url(../img/two2.jpg) no-repeat center top / cover;
	text-align: center;
}
div.wrapper h2 {
	color: #0f1417;
	font-family: Nunito;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.8px;
	padding-top: 50px;
	padding-bottom: 36px;
}
div.two p {
	color: #0f1417;
	font-family: Nunito;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0.35px;
	text-align: center;
}

.line {
	width: 120px;
	height: 9px;
	display: inline-block;
	
}
.picture1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	margin-top: 20px;
}
.two-1 {
	
	height: 300px;

}
.picture2-2 {
	display: inline-block;
	position: relative;
	margin-top: 30px;
}
div.picture2-2:before {
	content: "";
	background: url(../img/wave_icon.png) no-repeat;
	position: absolute;
	width: 120px;
	padding-top: 30px;
	left: 50%;
	margin-left: -60px;
}


.note1 {
	position: absolute;
	left: -105px;
	top: 32px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note2 {
	position: absolute;
	left: -135px;
	top: 89px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note3 {
	position: absolute;
	left: -111px;
	top: 164px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note4 {
	position: absolute;
	left: -112px;
	top: 219px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note5 {
	position: absolute;
	right: -106px;
	top: 14px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note6 {
	position: absolute;
	right: -135px;
	top: 80px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note7 {
	position: absolute;
	right: -126px;
	top: 135px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
.note8 {
	position: absolute;
	right: -100px;
	top: 196px;
	color: #0f1417;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.3px;
}

.note1:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}

.note2:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note3:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note4:before {	
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	left: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-left: 10px;
}
.note5:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note6:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note7:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note8:before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	right: 100%;
	background: url(../img/forma_1.png) no-repeat center top / cover;
	margin-right: 10px;
}
.note1:after {
	content: "";
	width: 25px;
	height: 47px;
	position: absolute;
	left: 150px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(43deg);
}
.note2:after {
	content: "";
	width: 22px;
	height: 30px;
	position: absolute;
	left: 132px;
	top: 7px;
	border-top: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(58deg);
}
.note3:after {
	content: "";
	width: 20px;
	height: 15px;
	position: absolute;
	left: 114px;
	top: -7px;
	border-bottom: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(-70deg);
}
.note4:after {
	content: "";
	width: 19px;
	height: 20px;
	position: absolute;
	left: 112px;
	top: -13px;
	border-bottom: 1px solid #0f1417a3;
	border-right: 1px solid #0f1417a3;
	transform: skew(-66deg);
}
.note5:after {
	content: "";
	width: 20px;
	height: 40px;
	position: absolute;
	right: 163px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(-45deg);
}
.note6:after {
	content: "";
	width: 25px;
	height: 30px;
	position: absolute;
	right: 151px;
	top: 8px;
	border-top: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(-55deg);
}
.note7:after {
	content: "";
	width: 23px;
	height: 15px;
	position: absolute;
	right: 118px;
	top: -8px;
	border-bottom: 1px solid #0f1417a3;
	border-left: 2px solid #0f1417a3;
	transform: skew(75deg);
}
.note8:after {
	content: "";
	width: 25px;
	height: 39px;
	position: absolute;
	right: 99px;
	top: -33px;
	border-bottom: 1px solid #0f1417a3;
	border-left: 1px solid #0f1417a3;
	transform: skew(50deg);
}

.bot-2 {
	
	padding-bottom: 55px;
}*/

/*.bot21 {
	width: 20px;
	height: 20px;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	display: inline-block;
	transform: rotate(45deg);
	}*/
	/*div.bot-2 a {
		padding: 10px;
		width: 20px;
		height: 20px;
		border-bottom: 3px solid black;
		border-right: 3px solid black;
		display: inline-block;
		transform: rotate(45deg);
	}



	.three {
		height: 677px;
		background: transparent;
	}
	div.three h2 {
		color: #0f1417;
		font-family: Nunito;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.8px;
		text-align: center;
		margin-top: 62px;
	}
	.scrollmenu {
		width: 832px;
		height: 321px;
		margin: 41px auto 0;
		position: relative;
		text-align: center;
	}


	div.scrollmenu h2 {
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.35px;
		text-align: center;
		margin-top: 0;
	}
	div.scrollmenu h3 {
		font-family: Nunito;
		font-size: 10px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.25px;
		text-align: center;
		margin-top: 10px;
	}
	div.scrollmenu h4 {
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.4px;
		text-align: center;
		margin-top: 10px;
	}
	.scrollmenu1 {
		width: 20px;
		height: 20px;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		transform: rotate(-226deg);
		position: absolute;
		left: 0;
		top: 120px;
	}
	.scrollmenu2 {
		width: 160px;
		height: 272px;
		box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
		background-color: #ffffff;
		display: inline-block;
		margin-left: 20px;
	}
	.scrollmenu3 {
		width: 160px;
		height: 272px;
		box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
		background-color: #ffffff;
		display: inline-block;
		margin-left: 30px;
		margin-right: 15px;
	}
	.scrollmenu4 {
		width: 160px;
		height: 272px;
		box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
		background-color: #ffffff;
		display: inline-block;
		margin-right: 30px;
		margin-left: 15px;
	}
	.scrollmenu5 {
		width: 160px;
		height: 272px;
		box-shadow: 0 6px 9px rgba(2, 6, 18, 0.04);
		background-color: #ffffff;
		display: inline-block;
		margin-right: 20px;
	}
	.scrollmenu6 {
		width: 20px;
		height: 20px;
		border-right: 1px solid black;
		border-bottom: 1px solid black;
		transform: rotate(-45deg);
		position: absolute;
		right: 0;
		top: 120px;
	}
	div.scrollmenu img {
		margin: 19px 25px 19px 25px;

	}

	div.three p {
		color: #170e0e;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.35px;
		text-align: center;
	}
	.menu2 {
		width: 100%;
		text-align: center;
		display: inline-block;
		margin-top: 40px;
	}
	.menu2 li {
		display: inline-block;
		border: 2px solid black;
		margin: 0px 15px;
	}
	.menu2 li a {
		color: black;
		text-decoration:none;
		width: 90px;
		height: 13px;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0.35px;
		padding: 9px 37px 9px 37px;

	}
	.menu2 li:hover {
		background: black;
	}
	.menu2 li a:hover {
		color: white;
	}


	.buttom {
		margin-bottom: 50px;

	}


	div.buttom ul {
		text-align: center;
	}
	div.buttom ul li {

		display: inline-block;
		height: 10px;
		width: 10px;
		background: black;
		border-radius: 50%;
		z-index: 2;
		transition: box-shadow .4s ease,
		background .3s ease;
	}

	.four {
		height: 527px;
		background: url(../img/sloi_7.png) no-repeat center top / cover;
		position: relative;
	}
	.four:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		top: 0;
		left: 0;
	}
	.four-content {
		position: relative;
		z-index: 2;
	}
	div.four-content h2 {
		color: white;
		font-family: Nunito;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.8px;
		text-align: center;
		padding-top: 61px;
		padding-bottom: 20px;
	}
	div.four-content p {
		color: #ffffff;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.35px;
		text-align: center;

	}
	.picture2 {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 120px;
		margin-top: 36px;
		margin-bottom: 50px;
	}
	.names {
		width: 730px;
		margin: 90px auto 0;
	}
	.float1 {
		width: 159px;
		height: 24px;
		float: left;
		margin-top: 6px;
		margin-right: 30px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: 0 -18px;
	}
	.float2 {
		width: 159px;
		height: 38px;
		float: left;
		margin-right: 33px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -159px -11px;
	}
	.float3 {
		width: 158px;
		height: 35px;
		float: left;
		margin-top: 8px;
		margin-right: 31px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -318px -14px;
	}
	.float4 {
		width: 160px;
		height: 36px;
		float: left;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -479px -11px;
	}
	.float5 {
		width: 159px;
		height: 60px;
		margin-right: 30px;
		float: left;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -481px -60px;
	}
	.float6 {
		width: 158px;
		height: 30px;
		float: left;
		margin-right: 33px;
		margin-top: 17px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -160px -79px;
	}
	.float7 {
		width: 159px;
		height: 38px;
		float: left;
		margin-right: 31px;
		margin-top: 13px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -1px -71px;
	}
	.float8 {
		width: 160px;
		height: 30px;
		float: left;
		margin-top: 17px;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: -320px -79px;
	}
	.float9 {
		float: left;
		background: url(../img/sprite_brends.png) no-repeat;
		background-position: 0 -120px;
	}
	.clearfix:after {
		content:"";
		float: none;
		clear: both;
		display: block;
	}

	div.names:before {
		content: "";
		background: url(../img/wave_icon1.png) no-repeat;
		width: 120px;
		padding-top: 9px;
		left: 50%;
		margin-left: -60px;
		position: absolute;
		top: 193px;
	}

	.five {
		height: 474px;
		text-align: center;
	}
	div.five h2 {
		color: #0b0806;
		font-family: Nunito;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		padding-top: 70px;
		letter-spacing: 0.8px;
	}
	.names1-1:before {
		content: "";
		width: 61px;
		height: 61px;
		background: url(../img/sprite.png);
		background-position: 61px -61px;
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -30px;
	}
	.names1-1+.names1-1:before {
		background-position: -61px 0px;
	}
	.names1-1+.names1-1+.names1-1:before {
		background-position: 0px 0px;
	}
	.names1-1+.names1-1+.names1-1+.names1-1:before {
		background-position: 62px 0px;
	}
	.names1-1+.names1-1+.names1-1+.names1-1+.names1-1:before {
		background-position: 0 -61px;
	}
	.names1-1+.names1-1+.names1-1+.names1-1+.names1-1+.names1-1:before {
		background-position: -61px -62px;
	}
	.names1 {
		max-width: 1110px;
		margin: 0 auto;
		padding-top: 50px;
		padding-bottom: 65px;
	}
	.names1-1 {

		float: left;
		margin-left: 25px;
		margin-right: 25px;
		position: relative;
		padding-top: 61px;
		text-align: center;
	}

	div.names1-1 h3 {
		color: #0b0806;
		font-family: Nunito;
		font-size: 16px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.4px;

	}
	div.names1-1 p {
		color: #0b0806;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: 0.35px;
	}

	.six {
		height: 663px;
		background: #f9f7f7;
	}
	.container {
		display: flex;
		margin: 0 auto;
		padding: 100px 0px;
		max-width: 1150px;
	}
	.six-content {
		width: 700px;
		font-family: Nunito;
	}

	div.six-content h2 {
		color: #0b0806;
		font-family: Nunito;
		font-size: 32px;
		font-weight: 700;
		line-height: 36px;
		letter-spacing: 0.8px;
	}

	.havent {
		color: #0b0806;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.35px;
		padding: 12px 0px;
	}
	div.six-content label[type="e-mail"] {
		display: inline-block;
		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.3px;
	}

	div.six-content input[type="e-mail"] {
		margin: 10px 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.35px;
		padding-left: 15px;
		background: transparent;
		border: 1px solid #000000;
		width: 348px;
		height: 40px;
		font-family: Nunito;
	}

	div>input[type="checkbox"] {
		display: none;
	}
	div>input[type="checkbox"]+label {
		padding-left: 30px;
		position: relative;

		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
		letter-spacing: 0.3px;
	}
	div>input[type="checkbox"]+label:before {
		content: "";
		width: 15px;
		height: 15px;
		border: 1px solid grey;
		position: absolute;
		top: 0;
		left: 0;
	}
	div>input[type="checkbox"]:checked+label:after {
		content: "";
		width: 8px;
		height: 12px;
		border-bottom: 1px solid black;
		border-right: 1px solid black;
		transform: rotate(45deg);
		position: absolute;
		top: 0;
		left: 4px;
	}

	.menu3 {
		width: 100%;
		display: inline-block;
		margin-top: 10px;
	}
	.menu3 li {
		display: inline-block;
		border: 2px solid black;
		margin-right: 10px;
		text-align: center;
		width: 160px;
		height: 40px;
	}
	.menu3 li a {
		color: black;
		text-decoration:none;
		width: 90px;
		height: 13px;
		font-family: Nunito;
		font-size: 14px;
		font-weight: 400;
		line-height: 36px;
		letter-spacing: 0.35px;
		padding: 10px 15px;
	}
	.menu3 li:hover {
		background: black;
	}
	.menu3 li a:hover {
		color: white;
	}

	.six-1-content {
		width: 445px;
		height: 500px;
		position: relative;
		text-align: center;
		background-color: #fcfafa;
		background: url(../img/coupon_Outline.png) no-repeat center top / cover;

	/*border-image: url(../img/border_1.png) 5 round round;
	border: 5px solid transparent;
	padding: 5px;*/

	/*border-style: solid;
	border-width: 27px;
	
	border-image: url(../img/border_1.png) 45 fill repeat;*/
}*/
/*.six-1-content:before {
	content: "";
	position: absolute;
	left: -17px;
	bottom: 80px;
	background: url(../img/sprite_social_icon.png) no-repeat;
	background-position: -32px -6px;
	width: 41px;
	height: 62px;
}

div.six-1-content h2 {
	color: #0b0806;
	font-family: "Open Sans", sans-serif;
	font-size: 48px;
	font-weight: 400;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
}
div.six-1-content h3 {
	color: #0b0806;
	font-family: "Open Sans", sans-serif;
	font-size: 120px;
	font-weight: 400;
	line-height: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
	padding-bottom: 20px;
}
div.six-1-content h4 {
	color: #0b0806;
	font-family: "Open Sans";
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0.6px;
}
div.six-1-content h5 {
	color: #0b0806;
	font-family: "Kaushan Script";
	font-size: 48px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 1.2px;
	padding: 12px;
}
div.six-1-content h6 {
	color: #0b0806;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.35px;
	padding-top: 30px;
}


.seven {
	height: 234px;
	background: url(../img/sloi_8.png) no-repeat center top / cover;
}
.seven-1 {
	float: left;
}
.seven-2 {
	float: left;
	width: 592px;
	height: 100px;
}
.seven-3 {
	float: left;
	margin-right: 50px;
	width: 135px;
}
.seven-4 {
	float: left;
	width: 130px;
}

div.seven-1 span {
	color: #fff;
	font-family: Nunito;
	font-size: 12px;
	font-weight: 400;
	line-height: 80px;
	letter-spacing: 0.3px;
}
div.seven-3 p {
	color: #fff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.4px;
}
div.seven-3 span {
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.35px;
}
div.seven-4 p {
	color: #fff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 48px;
	letter-spacing: 0.4px;
}
div.seven-4 span {
	color: #fff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 27px;
	letter-spacing: 0.35px;
}
div.seven-3 a {
	background-image: url(../img/sprite_social_icon.png);
	background-repeat: no-repeat;
	height: 26px;
	width: 26px;
	display: inline-block;
	margin-right: 10px;
}
.twitter {
	background-position: 0 -55px;
}
.instagram {
	background-position:  0 -28px;

}
.facebook {
	background-position: 0 0;

}
div.seven-1>div.logo-1 {
	float: none;
}*/





/*body {
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}*/
/*$(document).ready(function(){
  $(".owl-carousel").owlCarousel();
});*/
