		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		.wrapper {width: 1200px;
			margin: 0 auto;
			background: pink;
		}

		.in_float_1 {
			width: 400px;
			height: 200px;
			outline: 1px solid white;
			background: green;
			float: left;
		}

		.in_float_2 {
			width: 800px;
			height: 150px;
			outline: 1px solid white;
			background: green;
			float: left;
		}

		.in_float_3 {
			width: 400px;
			min-height: 100px;
			outline: 1px solid white;
			background: red;
			float: left;
		}
		.in_float_4 {
			width: 800px;
			min-height: 250px;
			outline: 1px solid white;
			background: green;
			float: left;

			
		}
		.in_float_5 {
			width: 200px;
			outline: 1px solid white;
			min-height: 150px;
			background: gold;
			float: left;
		}
		.in_float_6 {
			width: 400px;
			outline: 1px solid white;
			min-height: 100px;
			background: gold;
			float: left;
		}
		.in_float_7 {
			width: 200px;
			outline: 1px solid white;
			min-height: 100px;
			background: gold;
			float: left;
		}
		.in_float_8 {
			width: 200px;
			outline: 1px solid white;
			min-height: 50px;
			background: gold;
		}
		.in_float_9 {
			width: 800px;
			height: 125px;
			outline: 1px solid white;
			background: green;
			float: left;
		}
		.in_float_10 {
			width: 400px;
			height: 125px;
			outline: 1px solid white;
			background: green;
			float: left;
		}


		.table_b {
			background: lime;
			text-align: center;
		}

		.clearfix:after {
			content:"";
			float: none;
			clear: both;
			display: block;
		}
		.row-1 {width: 400px;
			float: left;
		}
		.row-2 div{ width: 800px;
			float: left;
		}
		.row-3 {background: yellow; 
		}
		.cell-1 {
			width: 800px;
			float: left;
		}
		.cell-2 div{width: 300px; float: left;
		}

		.cell-3 {width: 400px;
			outline: 1px solid white;
			min-height: 250px;
			background: red;
			float: left;
		}
		.cell-4 {width: 400px;
			outline: 1px solid white;
			min-height: 150px;
			background: greenyellow;
			float: left;
		}