@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap&subset=cyrillic');
@font-face {
  font-family: 'good_timesregular';
  src: url('../fonts/good_times_rg-webfont.woff2') format('woff2'),
  url('../fonts/good_times_rg-webfont.woff') format('woff'),
  url('../fonts/good_times_rg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z69t73');
  src:  url('../fonts/icomoon.eot?z69t73#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?z69t73') format('truetype'),
  url('../fonts/icomoon.woff?z69t73') format('woff'),
  url('../fonts/icomoon.svg?z69t73#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e901";
  color: #ea3565;
}
.icon-home:hover:before {
  transition: all 0.3s linear;
  color: #1b1d22;
}
.icon-facebook-logo:before {
  content: "\e902";
  color: #9f9f9f;
  padding: 6px;
}
.icon-facebook-logo:hover:before {
  color: white;
  transition: all 0.3s linear;
}
.icon-odnoklassniki-logo:before {
  content: "\e903";
  color: #9f9f9f;
  padding: 6px;
}
.icon-odnoklassniki-logo:hover:before {
  color: white;
  transition: all 0.3s linear;
}
.icon-twitter:before {
  content: "\e904";
  color: #9f9f9f;
  padding: 6px;
}
.icon-twitter:hover:before {
  color: white;
  transition: all 0.3s linear;
}
.icon-vkontakte-logo:before {
  content: "\e905";
  font-size: 28px;
  background-color: #9f9f9f;
  color: #2c323e;
  padding: 6px;
}
.icon-vkontakte-logo:hover:before {
  background-color: white;
  transition: all 0.3s linear;
  color: #ea3565;
}
.icon-calendar_icon:before {
  content: "\e900";
  color: #bdbdbf;
}


.clearfix:after{
  content:"";
  clear: both;
  display: block;
  height: 0;
}
.header {
  width: 100%;  
  background-color: #2c323e;
}
.contacts {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  /*color: white;*/
  outline: none;
  width: 15%;
}
.contacts a {
  font-family: 'Open Sans', sans-serif;
  color: #9f9f9f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.contacts a {
  text-decoration: none;
  text-align: center;
}
.contacts span {
  color:#ffffff;
}

.contacts a:hover span{
  color: #d0496c;
  transition: all 0.3s linear;
}
.contacts a:hover {
  color: #d0496c;
  transition: all 0.3s linear;
}


.logo {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}
.banner {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  margin: 0 auto;
  align-items: stretch;
  padding: 27px 0;
}
.social {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.socicon {
  width: 29px;
  height: 29px;
  border: 2px solid #9f9f9f;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
  overflow: hidden;
}
.socicon-1 {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  justify-content: space-around;
}
.socicon-1 a:hover {
  background-color: #ea3565;
  transition: all 0.3s linear;
}
.online {
  text-align: center;
}

.online a{
  color: #ea3565;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration:none;
  border-bottom: 1px dotted #ea3565;
}
.online a:hover {
  color: #1b1d22;
  border-bottom: 1px dotted #1b1d22;
  transition: all 0.3s linear;
}
h1 {
  color: #ffffff;
  font-family: "good_timesregular";
  font-size: 48px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 0;
}
h1 span {
  color: #ea3565;
}
.logo p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}

nav {
  padding: 0;
  margin: 0;
}

.menu{
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}
.menu>li:last-child {
  border:1px solid #ea3565;
  color: #ea3565;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(234, 53, 101, .2);
}
.menu>li:hover:last-child {           
  background-color: rgba(234, 53, 101, 1);
}

.menu>li:last-child a {    
  color: #ea3565;    
}
.menu>li:hover:last-child a {    
  color: #ffffff;  
  transition: all 0.3s linear;  
}

.menu>ul>li:first-child {
  border-left: 1px dotted transparent;
}

.menu li{
  /*display: flex;
  justify-content: space-around;*/
  float: left;
  border-left: 1px dotted;
  border-color: rgba(234, 53, 101, 0.65);
}
.menu li a{
  display: inline-block;
  padding: 10px 16px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.24px;
}
.child li:hover {
  background-color: #2c323e;
  width: 100%;
}

.nav-header>ul>li:last-child {
  border:1px solid #ea3565;
  color: #ea3565;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: rgba(234, 53, 101, .2);
}
.nav-header>ul>li:hover:last-child {           
  background-color: rgba(234, 53, 101, 1);
}

.nav-header>ul>li:last-child a {    
  color: #ea3565;    
}
.nav-header>ul>li:hover:last-child a {    
  color: #ffffff;  
  transition: all 0.3s linear;  
}
.parent_link>a:hover {
  color: #d0496c;
  transition: all 0.3s linear;
}

body {
  font-family: Arial; 
  margin: 0; 
  padding: 0;
}
.container {
  max-width: 1024px; 
  margin: 0 auto;
  background: #2c323e;
}
nav {
  background: #2c323e;
}
.ham {
  display: none;
  background: none;
  position: absolute;
  min-width: 40px;
  min-height: 24px;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  top: 15px;
  right: 15px;
  z-index: 3;
}
.ham > .bar {
  display: block;
  background: #818285;
  position: absolute;
  left: 0px;
  width: 70%;
  height: 4px;
  border-radius: 6px;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}
.ham > .bar:first-child {
  top: 0;
  -webkit-transform-origin: 
  top right;
  transform-origin: top right;
}
.ham > .bar:nth-child(2) {
  top: 10px;
}
.ham > .bar:last-child {
  bottom: 0;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
}
.ham.opened > .bar {
  background: #fff;
  left: 0px;
  -webkit-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
.ham.opened > .bar:nth-child(2) {
  opacity: 0;
  width: 0;
}
.ham.opened > .bar:last-child {
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}

.nav-header {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.25);
}
.nav-header ul{list-style: none; padding: 0; margin: 0;}
.nav-header ul li {position: relative; z-index: 10}
.nav-header a {font-family: "Open Sans"; letter-spacing: 0.24px; padding: 15px; display: block; color: #fff; font-size:16px; text-decoration: none}
.child {display: none; background: #ea3565; text-align: left}
@media(min-width: 761px){
  .nav-header>ul>li {display: flex;}
  .child {position: absolute; top: 100%; width: 150%}
}
@media(max-width: 768px){
  body.no_scroll {overflow: hidden;}
  .ham {display: block}
  .nav-header { position: absolute;
    width: 100%;
    left: -100%;
    margin-top: 0;
    z-index: 2;
    height: 100%;
    background: #2c323e;
    overflow-y: scroll;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;}
    /*.nav-header>ul {padding: 35px 15px 15px;}*/
    .menu li {
      float: none;

    }
    .nav-header a {display: block}
    .nav-header.active { left: 0;}
    .nav-header span {position: absolute; font-size: 13px; right: 0; top: 15px; cursor: pointer; color: red}
  }





  @media (max-width: 1024px) {
    .banner {
      /*flex-direction: column;*/ 
      align-items: center;
      padding: 0 0;
    }
    .contacts {      
      width: 22%;
    }

    .social {
      width: 22%;
    }
    .socicon-1 {
      margin: 0 auto;
      width: 100%;
    }
    .logo {
      width: 70%;
    }
    .logo h1 {
      line-height: normal;
      font-size: 40px;
    }
  }

  @media (max-width: 768px) {
    .banner {
      flex-direction: column;  
      align-items: center;
      padding: 0 0;
    }
    .contacts {      
      width: 100%;
    }

    .social {
      width: 100%;
    }
    .socicon-1 {
      margin: 0 auto;
      width: 40%;
    }
    .logo {
      width: 100%;
    }
    .logo h1 {
      line-height: normal;
      font-size: 40px;
    }
  }
  /*@media (max-width: 320px) {
    .banner {   
      flex-direction: column;
      align-items: center;
      padding: 0 0;
    }
    .contacts {      
      width:50%;
    }

    .social {
      width: 50%;
    }
    .logo {
      width: 100%;
    }
    .logo h1 {
      line-height: normal;
      font-size: 40px;
    }
    }*/



    .discounts {    
      max-width: 1280px;
      margin: 0 auto;
      overflow: hidden;
    }

    .face {
      position: relative;
    }

    .none img {
      width: 100%;    
    }

    .stock {
      position: absolute;
      top: 15%;
      right: 5%;    
      height: 167px;    
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
    .stock a {
      width: 163px;
      height: 41px;
      padding: 10px 34px;
      border:2px solid #ea3565;
      text-decoration: none;
      color: #ea3565;
      background-color: rgba(234, 53, 101, .2);
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    .stock a:hover {
      color: #ffffff; 
      background-color: #ea3565;
      transition: all 0.3s linear;

    }
    .stock h2 {
      color: #ea3565;
      font-family: 'Open Sans', sans-serif;
      font-size: 38px;
      font-weight: 400;

      text-transform: uppercase;
    }
    .stock p {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 19px;
      font-weight: 400;
    }

    .container-1 {
      max-width: 1280px;
      margin: 0 auto;
    }
    .banner-1 {
      display: flex;
      max-width: 1024px;
      margin: 0 auto;
      padding: 50px 0;
      justify-content: space-between;
    }

    .course {    
      display: flex;
      height: 100%;
      width: 30%;
      background: url('../images/course-1.png') center no-repeat;
      background-size: cover;
    }
    .base {
      min-height: 100%;  
      width: 100%;
      background: rgba(152, 17, 53, 0.6); 
      color: white;
      font-family: "Open Sans";
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      padding: 10px 10px;
    }
    .basein {
      border: 1px dotted white;
      padding: 28px 10px;
    }
    .base:hover {
     background: rgba(72, 149, 17, 0.6);
     cursor: pointer;
     transition: all 0.3s linear;
   }
   .course-1 { 
    display: flex;
    height: 100%;
    width: 30%;
    background: url('../images/course-2.png') center no-repeat;
    background-size: cover;

  }
  .base-1 {
    min-height: 100%;  
    width: 100%;
    background: rgba(176, 74, 101, 0.6);
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px 10px;
  }

  .basein-1 {
    border: 1px dotted white;
    padding: 28px 10px 74px 10px;
  }
  .base-1:hover {
   background: rgba(13, 119, 79, 0.6);
   cursor: pointer;
   transition: all 0.3s linear;
 }
 .course-2 {  
  display: flex;
  height: 100%;
  width: 30%;
  background: url('../images/course-3.png') center no-repeat;
  background-size: cover;
  
}
.base-2 {
  min-height: 100%;  
  width: 100%;
  background: rgba(234, 53, 102, 0.6);
  color: white;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 10px;
}
.basein-2 {
  border: 1px dotted white;
  padding: 27px 30px 26px 10px;
}
.base-2:hover {
 background: rgba(13, 95, 119, 0.6);
 cursor: pointer;
 transition: all 0.3s linear;
}

@media (max-width: 768px) {
  .banner-1 {   
    flex-direction: column;
    align-items: center;
    padding: 0 0;
  }
  .course {
    width: 100%;
    margin: 5px 0;
  }
  .course-1 {
    width: 100%;
    margin: 5px 0;
  }
  .course-2 {
    width: 100%;
    margin: 5px 0;
  }
  .nav-info {
    display: none;
  }
  .basein {
    border: 1px dotted white;
    padding: 28px 10px;
    text-align: center;
  }
  .basein-1 {
    border: 1px dotted white;
    padding: 28px 10px 35px 10px;
    text-align: center;
  }
  .basein-2 {
    border: 1px dotted white;
    padding: 27px 30px 26px 10px;
    text-align: center;
  }
  .stock {
    height: 0px;
  }
  .stock h2 {
    font-weight: bold;
  }
  .stock p {
    font-size: 15px;
  }

}

.about {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}
.aboutus {
  width: 90%;
  margin: 0 auto;
}

.about h2 {
  color: #31353d;
  font-family: "Open Sans";
  font-size: 32px; 
  padding-top: 50px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bdbdbf;
}
.about p {
  text-align: left;
  padding: 10px 0;
  color: #344046;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.news {
  display: flex;  
  flex-direction: column;
  width: 90%;
  height: 100%;
  padding: 1%;
}
.news h3 {
  color: #ea3565;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.news a {
  text-decoration:none;
  padding: 8px 0;
}
.news a:last-child {
  display: flex;
  justify-content: flex-end;
  text-decoration: underline;
  color: #a4a4a5;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.news span {
  color: #a4a4a5;

}
.news p {
  color: #344046;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.footer {
  width: 100%;
  background-color: #2c323e;
}

.nav-info {
  border-bottom: 1px solid;
  border-color: rgba(255, 255, 255, 0.25);
  list-style-type: none;
  padding: 10px 0;
  
}

.nav-info li a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.24px;
}

.nav-info ul {
  display: flex;
  justify-content: space-between;
  max-width: 726px;
  margin: 0 auto;
}
.copyright p {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding-top:10px;
}
.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  align-items: stretch;
  padding: 15px 0;
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.25);
}
.copyright a {
  color: #9f9f9f;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0 10px;
}
.copyright a+a {
  padding-top: 8px;
  padding-left: 0px;
}
.copyright span { 
  color: #ea3565;
}
@media (max-width: 768px) {
  .copyright {
    width: 80%
  }
  .copyright p {
    text-align: center;
  }
  .copyright a {
    text-align: center;
  }

}