/*header*/
  #header{
    background: #35d06e;
  }

  .navbar-toggle .icon-bar{
    background: #35d06e;
  }

  .white_bg{
    background: #fff;
  }

  .navbar{
    margin-bottom: 0;
  }
/*slider*/
/*calculator*/