@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic');
/*header*/
#header {
  background: #222222;
}
.header {
 background: #222222;

}
#what{
  background: #35d06e;
}

.navbar-toggle .icon-bar{
  background: #35d06e;
}

.white_bg{
  background: #fff;
}
.dow {
  background: transparent;
  color: #81d742;

}
.logo {
  background: #81d742;
  border-top-color: white;
}
.logo-2 {
  background: #32b4e6;
  border-top-color: white;
}
#lang {
  background:transparent;
  color: #999999;
  outline: none;
  border: none;
  padding: 15px 6px 6px 6px;
  border-bottom: 1px dashed transparent;
}
#lang:hover {
  color: white;
  border-bottom: 1px dashed white;
  border-radius: inherit;

}
#minus {
  background:transparent;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 15px 6px 6px 6px;
}
.minus {
  background:transparent;
  color: #ffffff;
  outline: none;
  border: none;
  padding: 15px 6px 6px 6px;
}

.off a {
  color: #32b4e6;
}
.off a:hover {
  color: #32b4e6;
}
.off-1 a {
  color: #81d742;
}
.off-1 a:hover {
  color: #81d742;
}
.off-3 > li > a {
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 400;
  line-height: 6.12px;
  text-transform: uppercase;
}
.off-3 a:hover {
  color: #81d742;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}
.a-line a {
  position: relative;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 6.12px;
}
.a-line a:before {
  content: "";
  position: absolute;
  background: url(../images/15.png); 
  width: 11px;
  height: 8px;
  left: 6px;
  top: 10px;
}
.a-line a:hover:before { 
 background: url(../images/15_5.png); 
}

.menu li+li+li+li+li a {
  padding-right: 0;
}
.text {
  text-align: center;
}
.text-1{

  max-width: none;

}
.images {display: block;
  margin: 0 auto;
}
.level {
  background: url(../images/sloi_28.png) no-repeat center top / cover;
}
.level-1 {
  background: rgba(129, 215, 66, 0.77);
  padding: 20px 0;
}
.level-2 {
  padding: 20px 0;
}
div.caption a {
  border: 1px solid #81d742;
  padding: 10px 20px;
  color: #81d742;
  text-decoration:none;
}
div.caption a:hover {
  background: #81d742;
  color: rgba(34, 34, 34, 1);
}
div.ourwork a {
  border: 1px solid #81d742;
  padding: 10px 20px;
  color: #81d742;
  text-decoration:none;
}
div.ourwork a:hover {
  background: #81d742;
  color: rgba(34, 34, 34, 1);
}
div.work a {
  border: 1px solid black;
  padding: 10px 20px;
  color: black;
  text-decoration:none;
}
div.work a:hover {
  background: rgba(15, 17, 18, 0.7);
  color: white;
}
div.dom ul a:hover {
  background-color: transparent;
  color: #1ccacd;
}
div.dom ul+ul a:hover {
  background-color: transparent;
  color: #81d742;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  /*border-color: #337ab7;*/
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
  /*color: #81d742;*/
}
.logo-2>li>a {    
  color: black;    
}
div.caption h3 {
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

}

.navigation_left { 
  position: relative;
  top: 25%;
  left: -25%;
  z-index: 5;
}
.navigation_left:before {
  content: "";
  position: absolute;
  background: url(../images/left2.png); 
  z-index: 5;
  width: 26px;
  height: 54px;   
}
.navigation_left:hover:before {
  background: url(../images/left.png);
}


.navigation_right {  
  position: relative; 
  top: 25%;
  left: 3%;
}

.navigation_right:before {
  content: "";
  position: absolute;
  background: url(../images/right.png); 
  z-index: 5;
  width: 26px;
  height: 54px;   
}
.navigation_right:hover:before {
  background: url(../images/right2.png);
}


.line {
  position: relative;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.line:before {
  content: "";
  position: absolute;
  background: url(../images/figure_67.png); 
  width: 50px;
  height: 2px;    
  left: 45%;
  top: 120%;
}

.line-header {
  position: relative;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  
  text-transform: uppercase;
}

.line-header:before {
  content: "";
  position: absolute;
  background: url(../images/figure_67.png); 
  width: 60px;
  height: 2px;    
  display: block;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.line-work {
  position: relative;
  color: #222222;
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  
  text-transform: uppercase;
}
.line-work:before {
  content: "";
  position: absolute;
  background: url(../images/figure_68.png); 
  width: 60px;
  height: 2px;    
  display: block;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


div.caption p {
  color: #999999;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.caption-content {
  border: none;

}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: none;
}
.page-header-2 {
  /*padding-bottom: 9px;
  margin: 40px 0 20px;*/
  border-bottom: none;
  display: table;
  margin: auto;
}



.color {
  background: rgba(15, 17, 18, 0.7);

}
.article {
  position: relative;
  color: #81d742;

  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.article:before {
  content: "";
  position: absolute;
  background: url(../images/figure_67.png); 
  width: 50px;
  height: 2px;    
  left: 45%;
  top: 120%;
}


.veb {
 background: url(../images/sloi_40.png) no-repeat center top / cover;

}
.veb-content {
  background-color: #32b4e6;
  opacity: 0.85;
}
div.veb-content p {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.zero {
  /*padding: 0;*/
  max-width: none;
}
.zero-1 {
  padding: 25px 0px;
}

/*function*/

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: transparent;
  border: none;

}

.nav-tabs>li>a:hover {
  color: white;
  border: none;
  border-bottom: 1px dashed white;
}

.nav-tabs>li>a {
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 6.12px;
  color: #222222;
  border-bottom: 1px dashed transparent;
  
}

.line-footer {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-weight: 700;
  
  text-transform: uppercase;
}

.line-footer:before {
  content: "";
  position: absolute;
  background: url(../images/figure_67.png); 
  width: 60px;
  height: 2px;    
  display: block;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.text-footer {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  padding-top: 40px;
}

.dotting {
  color: #81d742;
  font-family: "Times New Roman PS - Bold MT";
  font-size: 44px;
  font-weight: 400;
  line-height: 21px;
}
.article2 {
  color: #81d742;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.artcile3 {
  color: #999999;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  line-height: 6.12px;
}

@media (min-width: 768px) and (max-width: 1200px) {
  div.zero-1 /*> .navbar-collapse.collapse*/ {
    display: none !important;
  }
    /*div.zero-1 > .navbar-collapse.collapse.in {
        display: block !important;
    }
    div.zero-1 > .navbar-header .collapse, .navbar-toggle {
         display:block !important;
    }
    div.zero-1 > .navbar-header {
        float:none;
        }*/
      }
      .img-footer {
        padding: 20px;
      }


      .advance {
        position: relative;
        color: #222222;
        font-family: "Roboto Condensed";
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding-left: 40px
      }
      .advance:before {
        content: "";
        position: absolute;
        background: url(../images/done.png); 
        width: 40px;
        height: 40px;    
        left: 0px;
        bottom: 25%;
      }


/*glyphicon glyphicon-arrow-up
glyphicon glyphicon-arrow-down*/



