/*header*/
  #header {
    background: #222222;
  }
  #what{
    background: #35d06e;
  }

  .navbar-toggle .icon-bar{
    background: #35d06e;
  }

  .white_bg{
    background: #fff;
  }

  /*.navbar{
    margin-bottom: 0;
  }*/
  .row {
    background: transparent;
    color: #81d742;
  }
  .logo {
    background: #81d742;

   }
  #lang {
    background:transparent;
    color: white;
    outline: none;
  }
  .menu {
    float: right;
  }
  .menu li+li+li+li+li a {
    padding-right: 0;
  }
  .text {
    text-align: center;
  }
/*slider*/
/*calculator*/